services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NEXTAUTH_URL=http://localhost:3000
      - NEXTAUTH_SECRET=9A5gCByZ+tRf4ZmtasE0uhISfYmxCqMiH9WxxI61MmM=
      - NODE_ENV=production
    container_name: demo-app-container
    restart: unless-stopped

